opencv-contrib-python-headless==4.4.0.46
numpy==1.19.5
Pillow==8.2.0
datetime~=4.3
pandas==1.2.2
Keras==2.4.3
Keras-Preprocessing==1.1.2
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.8.0 # on the pi tensorflow==2.4.0 is installed, but pip doesn't seem to find that
tensorflow-estimator==2.4.0
termcolor==1.1.0
tflite-runtime==2.5.0.post1
pycoral==2.0.0
matplotlib==3.3.4
